@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

#outer-container{
    width: 100vw;
    height: 100vh;
    background-color: #58a251;
    position: absolute;
    overflow: none;
    z-index: -1;
}

#score-display{
    font-size: 2rem;
    top: 1.1rem;
    left: 1.6rem;
    position: absolute;
}

#star-container{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.3rem auto;
}

.star{
    width: 3rem;
    height: 3rem;
    max-height: 9vh;
}

#settings{
    width: 5rem;
    height: 5rem;
    top: 1.1rem;
    right: 1.6rem;
    position: absolute;
}

#settings:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#level-restart-button{
    width: 5rem;
    height: 5rem;
    top: 6.3rem;
    right: 1.6rem;
    position: absolute;
}

#level-restart-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#equal-sign{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 7rem;
    font-size: 5rem;
}

#fraction-container{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 2rem;
}

#fraction-container p{
    font-size: 6rem;
}

@media(max-width: 1250px){
    #fraction-container{
        right: 0.5rem;
    }

    #fraction-container p{
        font-size: 4rem;
    }

    #equal-sign{
        right: 5rem;
        font-size: 3.5rem;
    }
}

#fraction-container #fraction-bar{
    width: 4rem;
    height: 0.5rem;
    background-color: black;
    color: black;
    border: none;
}

#game-container{
    width: 75vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #22b14c;
    /* background: #22b14c url("../images/background-grass.png") repeat 0 0/10%; */
    border-radius: 40px;
}

.level-popup{
    position: absolute;
    background-color: #f5e2e2de;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    margin: auto;
    z-index: 2;
    text-align: center;
    padding: 1.5rem 4rem;
    border-radius: 20px;
    animation: slideInFromTop 0.5s ease-in-out;
}

.level-popup img{
    width: 2.7rem;
    height: 2.7rem;
}

.level-popup h2{
    font-size: 3rem;
}

.level-popup .star-outer-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.level-popup p{
    font-size: 2rem;
}

.level-button-container{
    margin-top: 1.8rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.level-popup-button{
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    background-color: #babad4;
    border: none;
    border-radius: 15px;
    margin-right: auto;
}

.level-popup-button:hover{
    cursor: pointer;
    background-color: #9a9acf;
}

.level-button-container img{
    width: 3rem;
    height: 2.8rem;
}

.level-button-container img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.game-end-container .game-end-level{
    text-align: left;
    margin-bottom: 2rem;
}

.game-end-container h2{
    margin-bottom: 2.5rem;
}

#game-end-star-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

#game-end-star-container img{
    width: 6rem;
    height: 6rem;
}

#goal-popup{
    background-color: #f5e2e2de;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

#goal-popup-text{
    font-size: 3rem;
    animation: slideInFromLeft 2s ease-in-out;
}

.pillar{
    background: #294c27 url("../images/pillar.png") repeat 0 0/100%;
}

.center-wall{
    background: #58a251;
}

@keyframes slideInFromTop{

    0%{
        margin-top: -70px;
        opacity: 0%;
    }

    100%{
        margin-top: 0px;
        opacity: 100%;
    }

}

@keyframes slideOutToBottom{

    0%{
        margin-top: 0px;
        opacity: 100%;
    }

    100%{
        margin-top: 70px;
        opacity: 0%;
    }

}

@keyframes slideInFromLeft{

    0%{
        margin-left: -150vw;
        opacity: 0%;
    }

    25%{
        opacity: 100%;
        margin-left: -20rem;
    }

    75%{
        opacity: 100%;
        margin-right: -20rem;
    }

    100%{
        opacity: 0%;
        margin-right: -150vw;
    }

}