@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
    font-family: 'Josefin Sans', sans-serif;
}

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-block{
    position: relative;
    width: 200vw;
    height: 50vh;
    opacity: 0%;
}

.dark-green{
    background-color: #014800;
}

.med-green{
    background-color: #05833a;
}

.light-green{
    background-color: #80db58;
}

#first-block{
    transform: rotate(-28deg);
    margin-top: 500px;
    margin-left: 800px;
}

#second-block{
    transform: rotate(20deg);
    margin-top: 600px;
    margin-left: 500px;
}

#third-block{
    transform: rotate(-28deg);
    margin-top: 500px;
    margin-left: 300px;
}

#fourth-block{
    transform: rotate(-50deg);
}

#fifth-block{
    transform: rotate(-28deg);
}

@keyframes blockAnimation{

    from{
        opacity: 0%;
    }

    to{
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        transform: rotate(-28deg) translate(-20%, -210%);
        opacity: 100%;
    }

}

#fraction{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
}

#frac{
    position: absolute;
    width: 45%;
    height: 70%;
    bottom: 40%;
    left: 0;
    align-self: start;
}

#bar{
    width: 20%;
    height: 50%;
    position: relative;
    left: 40%;
    top: 15%;
    align-self: center;
}

#tion{
    position: absolute;
    width: 45%;
    height: 70%;
    right: 0;
    top: 40%;
}

#frac:hover{
    animation: frac 0.3s ease-out 1 forwards;
}

#tion:hover{
    animation: tion 0.3s ease-out 1 forwards;
}

@keyframes frac{

    from{
        opacity: 0%;
        left: -8%;
    }

    to{
        opacity: 100%;
        left: 0;
    }

}

@keyframes tion{

    from{
        opacity: 0%;
        right: 8%;
    }

    to{
        opacity: 100%;
        right: 0;
    }

}

#golf{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 3%;
    top: 47%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 37%;
    height: 27%;
}

#golf img{
    width: 25%;
    height: 100%;
}

#golf :not(:last-child){
    margin-right: -2%;
}

#golf #l{
    margin-left: -1%;
}

#golf img:hover{
    animation: golf 0.4s ease-out 1 forwards;
}

@keyframes golf{

    0%{
        margin-top: -10%;
        opacity: 0%;
    }

    40%{
        margin-top: 5%;
        opacity: 100%;
    }

    60%{
        margin-top: -3%;
    }

    70%{
        margin-top: 2%;
    }

    85%{
        margin-top: -1%;
    }

    100%{
        margin-top: 0%;
        opacity: 100%;
    }

}

#start{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 8%;
    top: 76%;
    text-align: center;
    width: 34%;
    height: 22%;
}

#start #button{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@keyframes button{
    from{
        top: 15%;
        opacity: 0%;
    }

    to{
        top: 0%;
        opacity: 100%;
    }
}

#start #text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#start:hover{
    cursor: pointer;
    top: 75%;
    width: 36%;
    height: 24%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

svg{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

line{
    stroke-width: 5;
    stroke: black;
    z-index: 2;
}

#dashed-line{
    stroke-dasharray: 4;
    z-index: 2;
}

#sign-in-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    gap: 2rem;
    background-color: #aaccae;
    border-radius: 2rem;
    padding: 5rem 3rem;
    animation: slideInFromTop 0.5s ease-in-out;
}

#sign-in-container .sign-in-button{
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 3rem;
    border: 1px solid #c59d9d;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    background-color: #83a8ce;
}

#sign-in-container .sign-in-button:hover{
    background-color: #769fab;
    cursor: pointer;
}

#sign-in-container .sign-in-user-label{
    font-size: 2rem;
}

#sign-in-container .sign-in-user-name{
    font-size: 1.7rem;
    border-radius: 20px;
    padding: 0.5rem 0.7rem;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#sign-in-container .sign-in-help-text{
    margin-top: 2rem;
    color: red;
}

#sign-in-container .enter-game-button{
    width: fit-content;
    font-size: 1.8rem;
    margin: 3rem auto 0 auto;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    background-color: #83a8ce;
}

#sign-in-container .enter-game-button:hover{
    background-color: #769fab;
    cursor: pointer;
}